# Turn a directory into something that can be easily visualized on a map!

In [16]:
import pandas as pd; import numpy as np; from multiprocessing import Pool, Manager; import numpy as np;
import fiona, shapely; from osgeo import ogr; from shapely.geometry import mapping, shape
import matplotlib.pyplot as plt; import seaborn as sns
import matplotlib, os, json, sys, time, datetime

In [17]:
input_directory  = "/data/chime/geo/zone_a_full_contexual/stage2/"
output_directory = "/data/www/chime/movement-derivation/sandy_zone_a_contextual/"

In [18]:
users_in = sorted(os.listdir(input_directory))
users_in = [x for x in users_in if x != "temporal_clustered_user_meta.json"]
print("Found {0} users in {1}".format(len(users_in), input_directory))

Found 1188 users in /data/chime/geo/zone_a_full_contexual/stage2/

In [19]:
def loader_function(args):
    uFile, path, q = args
    u = json.load(open(path+"/"+uFile,'r'))
    tweets = []
    for t in u['features']:
        if t['geometry']:
            t['properties']['geometry'] = shape(t['geometry'])
        t['properties']['date'] = pd.Timestamp(t['properties']['date'])
        tweets.append(t['properties'])
    
    df = pd.DataFrame(tweets)
    
    df = df.sort_values(by='date')
    
    first_date = df['date'][0]
    
    df['time'] = df['date'].apply(lambda x: datetime.datetime.strftime(x, '%Y-%m-%dT%H:%M:%SZ'))
    df['h']    = df['date'].apply(lambda x: int((x - first_date).total_seconds()/3600))
    df['m']    = df['date'].apply(lambda x: int((x - first_date).total_seconds()/60))
    if not q is None:
        q.put(1)
    return df

In [20]:
#debug
loader_function((users_in[0], input_directory, None))

,cluster,cluster_center,coords,date,day_cluster,geo_delta,geometry,home_cluster_id,speed,text,time_delta,tweet_id,uid,user,time,h,m
0,NaN,null,None,2012-09-01 04:13:15+00:00,6,NaN,NaN,2.0,NaN,“@huny: michael jackson dance pordy (@ Le Pois...,-7861391.0,241750544262242304,17418108,11Zette17,2012-09-01T04:13:15Z,0,0
1,NaN,null,None,2012-09-01 04:14:03+00:00,6,NaN,NaN,NaN,NaN,Butterflies.,48.0,241750745878241280,17418108,11Zette17,2012-09-01T04:14:03Z,0,0
2,NaN,null,None,2012-09-01 04:20:48+00:00,6,NaN,NaN,NaN,NaN,#spotted @and_wayne!,405.0,241752442436452353,17418108,11Zette17,2012-09-01T04:20:48Z,0,7
3,NaN,null,None,2012-09-01 04:40:23+00:00,6,NaN,NaN,NaN,NaN,Spotted the big sis @dj_diva + cousin @Carnegro,1175.0,241757371699978240,17418108,11Zette17,2012-09-01T04:40:23Z,0,27
4,NaN,null,None,2012-09-01 04:45:50+00:00,6,NaN,NaN,NaN,NaN,Enjoy Yourself.,327.0,241758742423674880,17418108,11Zette17,2012-09-01T04:45:50Z,0,32
5,NaN,null,None,2012-09-01 04:53:45+00:00,6,NaN,NaN,NaN,NaN,Finally spotted my @huny!,475.0,241760734059573248,17418108,11Zette17,2012-09-01T04:53:45Z,0,40
6,NaN,null,None,2012-09-01 05:08:03+00:00,7,NaN,NaN,NaN,NaN,Baby Be Mine. #favoriteMJJsong,858.0,241764334584356864,17418108,11Zette17,2012-09-01T05:08:03Z,0,54
7,1.0,"{""type"": ""Point"", ""coordinates"": [-74.00054383...","[-74.00054383, 40.72988293]",2012-09-01 05:22:29+00:00,7,NaN,POINT (-74.00054383 40.72988293),NaN,NaN,The fact they are playing Cash Money's Greates...,NaN,241767964918034432,17418108,11Zette17,2012-09-01T05:22:29Z,1,69
8,NaN,null,None,2012-09-01 06:34:42+00:00,7,NaN,NaN,NaN,NaN,I could dance to Michael Jackson all night...h...,5199.0,241786141005725696,17418108,11Zette17,2012-09-01T06:34:42Z,2,141
9,-1.0,null,"[-73.9999298, 40.72852827]",2012-09-01 06:35:30+00:00,7,159.269799,POINT (-73.9999298 40.72852827),NaN,0.036355,Unified for Heal the World @ Le Poisson Rouge...,4381.0,241786342252634112,17418108,11Zette17,2012-09-01T06:35:30Z,2,142
10,NaN,null,None,2012-09-01 11:08:07+00:00,8,NaN,NaN,NaN,NaN,"Let Go, Let God - I let go and let God work in...",16405.0,241854947463921664,17418108,11Zette17,2012-09-01T11:08:07Z,6,414
11,NaN,null,None,2012-09-01 11:40:17+00:00,8,NaN,NaN,NaN,NaN,"Not by might, nor by power, but by my spirit, ...",1930.0,241863043171102720,17418108,11Zette17,2012-09-01T11:40:17Z,7,447
12,-1.0,null,"[-73.9999298, 40.72852827]",2012-09-01 12:04:48+00:00,8,0.000000,POINT (-73.9999298 40.72852827),NaN,0.000000,So uhm. The dude dressed up as Michael Jackson...,19758.0,241869213365575680,17418108,11Zette17,2012-09-01T12:04:48Z,7,471
13,NaN,null,None,2012-09-01 13:06:31+00:00,9,NaN,NaN,NaN,NaN,Good morning loves. Good morning blessings.,5174.0,241884741815640064,17418108,11Zette17,2012-09-01T13:06:31Z,8,533
14,NaN,null,None,2012-09-01 13:07:13+00:00,9,NaN,NaN,NaN,NaN,It's September. New Month. New Day. New Opport...,42.0,241884918441967616,17418108,11Zette17,2012-09-01T13:07:13Z,8,533
15,NaN,null,None,2012-09-01 13:11:39+00:00,9,NaN,NaN,NaN,NaN,Broadcast Information: Florida vs. Bowling Gre...,266.0,241886033774518273,17418108,11Zette17,2012-09-01T13:11:39Z,8,538
16,NaN,null,None,2012-09-01 13:26:35+00:00,9,NaN,NaN,NaN,NaN,I love that my Facebook Newsfeed looks like th...,896.0,241889793825443841,17418108,11Zette17,2012-09-01T13:26:35Z,9,553
17,NaN,null,None,2012-09-01 13:33:42+00:00,9,NaN,NaN,NaN,NaN,#GOGATORS RT @RJM_ALO: @11Zette17 chest bumps ...,427.0,241891585393057792,17418108,11Zette17,2012-09-01T13:33:42Z,9,560
18,NaN,null,None,2012-09-01 14:05:13+00:00,9,NaN,NaN,NaN,NaN,The joy of vacation is that I am perfectly con...,1891.0,241899517442670593,17418108,11Zette17,2012-09-01T14:05:13Z,9,591
19,NaN,null,None,2012-09-01 14:05:29+00:00,9,NaN,NaN,NaN,NaN,@SpeakWriteLove MORNING!!,16.0,241899584727683072,17418108,11Zette17,2012-09-01T14:05:29Z,9,592
20,NaN,null,None,2012-09-01 14:06:52+00:00,9,NaN,NaN,NaN,NaN,@VictoriaKing11 Good morning darling! Have a g...,83.0,241899931353378816,17418108,11Zette17,2012-09-01T14:06:52Z,9,593
21,NaN,null,None,2012-09-01 14:09:37+00:00,9,NaN,NaN,NaN,NaN,Dear @Dinaf730 . Eww.,165.0,241900621140213760,17418108,11Zette17,2012-09-01T14:09:37Z,9,596
22,NaN,null,None,2012-09-01 14:10:10+00:00,9,NaN,NaN,NaN,NaN,@SpeakWriteLove Thank you blessing!,33.0,241900760558874624,17418108,11Zette17,2012-09-01T14:10:10Z,9,596
23,NaN,null,None,2012-09-01 14:16:28+00:00,9,NaN,NaN,NaN,NaN,@VictoriaKing11 Same to you love!,378.0,241902345674432512,17418108,11Zette17,2012-09-01T14:16:28Z,10,603
24,NaN,null,None,2012-09-01 14:17:19+00:00,9,NaN,NaN,NaN,NaN,@SabrinaWashy Revel in it!,51.0,241902559806234626,17418108,11Zette17,2012-09-01T14:17:19Z,10,604
25,NaN,null,None,2012-09-01 14:54:11+00:00,9,NaN,NaN,NaN,NaN,"RT @DailyWordMag: Let Go, Let God - I let go a...",2212.0,241911839267622912,17418108,11Zette17,2012-09-01T14:54:11Z,10,640
26,NaN,null,None,2012-09-01 15:02:39+00:00,9,NaN,NaN,NaN,NaN,At some point let's discuss the fight on the A...,508.0,241913968002748416,17418108,11Zette17,2012-09-01T15:02:39Z,10,649
27,NaN,null,None,2012-09-01 15:03:26+00:00,9,NaN,NaN,NaN,NaN,RT @VodouBar: Prepare yourself for an amazing ...,47.0,241914165533499392,17418108,11Zette17,2012-09-01T15:03:26Z,10,650
28,NaN,null,None,2012-09-01 16:17:57+00:00,9,NaN,NaN,NaN,NaN,I typically get a long w/ some of everybody. W...,4471.0,241932919055187968,17418108,11Zette17,2012-09-01T16:17:57Z,12,724
29,NaN,null,None,2012-09-01 16:18:42+00:00,9,NaN,NaN,NaN,NaN,"But as Hov says...""It ain't for everybody""",45.0,241933107404623872,17418108,11Zette17,2012-09-01T16:18:42Z,12,725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5675,NaN,null,None,2012-11-30 20:18:08+00:00,4,NaN,NaN,NaN,NaN,If I find...Doo Doo Brown...on Spotify...,175.0,274608270512119808,17418108,11Zette17,2012-11-30T20:18:08Z,2176,130564
5676,NaN,null,None,2012-11-30 20:18:40+00:00,4,NaN,NaN,NaN,NaN,♫ Doo Doo Brown – 2 Hype Brothers And A Dog ht...,32.0,274608403643498498,17418108,11Zette17,2012-11-30T20:18:40Z,2176,130565
5677,NaN,null,None,2012-11-30 20:20:01+00:00,4,NaN,NaN,NaN,NaN,Or Akinyele..,81.0,274608744820772864,17418108,11Zette17,2012-11-30T20:20:01Z,2176,130566
5678,NaN,null,None,2012-11-30 20:20:07+00:00,4,NaN,NaN,NaN,NaN,Wait...let me finish working.,6.0,274608770045317121,17418108,11Zette17,2012-11-30T20:20:07Z,2176,130566
5679,NaN,null,None,2012-11-30 20:24:41+00:00,4,NaN,NaN,NaN,NaN,OOOOOOOOOOOOOOOOOOOOOOOO,274.0,274609917707567105,17418108,11Zette17,2012-11-30T20:24:41Z,2176,130571
5680,NaN,null,None,2012-11-30 20:24:51+00:00,4,NaN,NaN,NaN,NaN,I found Luke...it just isn't labeled correctly.,10.0,274609959713533952,17418108,11Zette17,2012-11-30T20:24:51Z,2176,130571
5681,NaN,null,None,2012-11-30 20:25:01+00:00,4,NaN,NaN,NaN,NaN,♫ Scarred – Uncle Luke http://t.co/CcEkfjLg #S...,10.0,274610003787276288,17418108,11Zette17,2012-11-30T20:25:01Z,2176,130571
5682,NaN,null,None,2012-11-30 20:26:30+00:00,4,NaN,NaN,NaN,NaN,@SpeakWriteLove Nawl lol,89.0,274610378464448513,17418108,11Zette17,2012-11-30T20:26:30Z,2176,130573
5683,NaN,null,None,2012-11-30 20:30:40+00:00,4,NaN,NaN,NaN,NaN,**faints** The first SO SO Def Bass All Stars ...,250.0,274611425954131968,17418108,11Zette17,2012-11-30T20:30:40Z,2176,130577
5684,NaN,null,None,2012-11-30 20:30:48+00:00,4,NaN,NaN,NaN,NaN,♫ So So Def Bass All-Stars – Various Artists h...,8.0,274611458904559617,17418108,11Zette17,2012-11-30T20:30:48Z,2176,130577
5685,NaN,null,None,2012-11-30 20:39:14+00:00,4,NaN,NaN,NaN,NaN,Khia has a greatest hits album too.,506.0,274613582249996288,17418108,11Zette17,2012-11-30T20:39:14Z,2176,130585
5686,NaN,null,None,2012-11-30 20:41:58+00:00,4,NaN,NaN,NaN,NaN,People from Tampa say Back in such a special w...,164.0,274614270279417856,17418108,11Zette17,2012-11-30T20:41:58Z,2176,130588
5687,NaN,null,None,2012-11-30 21:36:47+00:00,5,NaN,NaN,NaN,NaN,@LaColumnista Yes,3289.0,274628064363810817,17418108,11Zette17,2012-11-30T21:36:47Z,2177,130643
5688,NaN,null,None,2012-11-30 21:38:30+00:00,5,NaN,NaN,NaN,NaN,Yall remember how...Method Man...Came up over ...,103.0,274628498117767169,17418108,11Zette17,2012-11-30T21:38:30Z,2177,130645
5689,NaN,null,None,2012-11-30 21:38:34+00:00,5,NaN,NaN,NaN,NaN,Hello weekend.,4.0,274628512692977664,17418108,11Zette17,2012-11-30T21:38:34Z,2177,130645
5690,-1.0,null,"[-73.99362293, 40.74146908]",2012-11-30 23:55:54+00:00,5,108784.304988,POINT (-73.99362293 40.74146908),NaN,0.639141,South and the City (@ Studio 21 w/ 5 others) h...,170204.0,274663074114445312,17418108,11Zette17,2012-11-30T23:55:54Z,2179,130782
5691,NaN,null,None,2012-12-01 00:28:53+00:00,5,NaN,NaN,NaN,NaN,...Twerk suit... http://t.co/WeGMAhkd,10219.0,274671373178257408,17418108,11Zette17,2012-12-01T00:28:53Z,2180,130815
5692,-1.0,null,"[-73.99362293, 40.74146908]",2012-12-01 00:35:27+00:00,5,0.000000,POINT (-73.99362293 40.74146908),NaN,0.000000,Ran into my boo @kingm_53 ! My Myiah is all gr...,2373.0,274673028128980992,17418108,11Zette17,2012-12-01T00:35:27Z,2180,130822
5693,NaN,null,None,2012-12-01 00:45:28+00:00,5,NaN,NaN,NaN,NaN,Spotted @EbtheCeleb + nice meeting you @WriteinBK,995.0,274675546137432064,17418108,11Zette17,2012-12-01T00:45:28Z,2180,130832
5694,NaN,null,None,2012-12-01 00:46:09+00:00,5,NaN,NaN,NaN,NaN,Pretty Ricky in the party = Ratchetness soon come,41.0,274675720012304384,17418108,11Zette17,2012-12-01T00:46:09Z,2180,130832
5695,NaN,null,None,2012-12-01 01:08:02+00:00,6,NaN,NaN,NaN,NaN,Yo can tell who is from the South in here...sw...,1313.0,274681228320444417,17418108,11Zette17,2012-12-01T01:08:02Z,2180,130854
5696,NaN,null,None,2012-12-01 01:16:39+00:00,6,NaN,NaN,NaN,NaN,Spotted my boo @GeneseJamilah/ @idontdoclubs #...,517.0,274683396490407936,17418108,11Zette17,2012-12-01T01:16:39Z,2181,130863
5697,NaN,null,None,2012-12-01 01:26:47+00:00,6,NaN,NaN,NaN,NaN,My request for @djcommish ...Swag Surfin por f...,608.0,274685947310903299,17418108,11Zette17,2012-12-01T01:26:47Z,2181,130873
5698,NaN,null,None,2012-12-01 01:52:54+00:00,6,NaN,NaN,NaN,NaN,RT @idontdoclubs: Yaaaassss! (By 9:00 p.m. ple...,1567.0,274692516589232128,17418108,11Zette17,2012-12-01T01:52:54Z,2181,130899
5699,NaN,null,None,2012-12-01 01:59:21+00:00,6,NaN,NaN,NaN,NaN,The body roll that I just witnessed when North...,387.0,274694141898801152,17418108,11Zette17,2012-12-01T01:59:21Z,2181,130906
5700,NaN,null,None,2012-12-01 02:28:43+00:00,6,NaN,NaN,NaN,NaN,Yellow yachts...,1762.0,274701529838141440,17418108,11Zette17,2012-12-01T02:28:43Z,2182,130935
5701,NaN,null,None,2012-12-01 02:30:48+00:00,6,NaN,NaN,NaN,NaN,Swag Surfin in Manhattan,125.0,274702054113542144,17418108,11Zette17,2012-12-01T02:30:48Z,2182,130937
5702,NaN,null,None,2012-12-01 03:10:21+00:00,6,NaN,NaN,NaN,NaN,Dirty South Good Time w/ deerene_lcc + @tdotwh...,2373.0,274712009151492099,17418108,11Zette17,2012-12-01T03:10:21Z,2182,130977
5703,NaN,null,None,2012-12-01 03:36:14+00:00,6,NaN,NaN,NaN,NaN,...I'm a Southern Gurl... http://t.co/HXT3qlcX,1553.0,274718523564105730,17418108,11Zette17,2012-12-01T03:36:14Z,2183,131002
5704,-1.0,null,"[-73.997361, 40.737604]",2012-12-01 03:56:26+00:00,6,532.815569,POINT (-73.997361 40.737604),NaN,0.044184,"Why are her sliders this big tho.., @ Good Stu...",12059.0,274723604321669120,17418108,11Zette17,2012-12-01T03:56:26Z,2183,131023

In [21]:
#Parallel runtime
p = Pool(30)
m = Manager()
q = m.Queue()

args = [(i, input_directory, q) for i in users_in]
result = p.map_async(loader_function, args)

# monitor loop
while True:
    if result.ready():
        break
    else:
        size = q.qsize()
        sys.stderr.write("\rProcessed: {0}, {1:.3g}%".format(size, size/len(args)*100))
        time.sleep(0.5)
sys.stderr.write("\rProcessed: {0}, {1:.3g}%".format(q.qsize(), q.qsize()/len(args)*100))
users = result.get()
p.close()

Processed: 1188, 100%

In [22]:
users[0].tail()

,cluster,cluster_center,coords,date,day_cluster,geo_delta,geometry,home_cluster_id,speed,text,time_delta,tweet_id,uid,user,time,h,m
5700,NaN,null,None,2012-12-01 02:28:43+00:00,6,NaN,NaN,NaN,NaN,Yellow yachts...,1762.0,274701529838141440,17418108,11Zette17,2012-12-01T02:28:43Z,2182,130935
5701,NaN,null,None,2012-12-01 02:30:48+00:00,6,NaN,NaN,NaN,NaN,Swag Surfin in Manhattan,125.0,274702054113542144,17418108,11Zette17,2012-12-01T02:30:48Z,2182,130937
5702,NaN,null,None,2012-12-01 03:10:21+00:00,6,NaN,NaN,NaN,NaN,Dirty South Good Time w/ deerene_lcc + @tdotwh...,2373.0,274712009151492099,17418108,11Zette17,2012-12-01T03:10:21Z,2182,130977
5703,NaN,null,None,2012-12-01 03:36:14+00:00,6,NaN,NaN,NaN,NaN,...I'm a Southern Gurl... http://t.co/HXT3qlcX,1553.0,274718523564105730,17418108,11Zette17,2012-12-01T03:36:14Z,2183,131002
5704,-1.0,null,"[-73.997361, 40.737604]",2012-12-01 03:56:26+00:00,6,532.815569,POINT (-73.997361 40.737604),NaN,0.044184,"Why are her sliders this big tho.., @ Good Stu...",12059.0,274723604321669120,17418108,11Zette17,2012-12-01T03:56:26Z,2183,131023

# Write `geojson` files for the web

In [23]:
if not os.path.exists(output_directory):
    os.mkdir(output_directory)

In [24]:
def write_geojson(args):
    u, output_directory, q = args
    file = u['user'][0].lower()
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in u.where(pd.notnull(u), None).iterrows():
        if pd.notnull(row.geometry):
            geom = mapping(row.geometry)
        else:
            geom = None
        feature = {'type':'Feature',
                   'geometry':geom,
                   'properties':{'time':row['time'],
                                 'h':row['h'],
                                 'm':row['m'],
                                 'user':row['user'],
                                 'text':row['text'],
                                 's':row['speed'],
                                 'c':row['cluster']
                                 }
            }
        geojson['features'].append(feature)
    
    with open(output_directory+"/"+file+".geojson",'w') as oFile:
        json.dump(geojson,oFile)
        
    if q is not None:
        q.put(1)
    return 1

In [25]:
#Parallel runtime
p = Pool(30)
m = Manager()
q = m.Queue()

args = [(i, output_directory, q) for i in users]
result = p.map_async(write_geojson, args)

# monitor loop
while True:
    if result.ready():
        break
    else:
        size = q.qsize()
        sys.stderr.write("\rProcessed: {0}, {1:.3g}%".format(size, size/len(args)*100))
        time.sleep(0.5)
sys.stderr.write("\rProcessed: {0}, {1:.3g}%".format(q.qsize(), q.qsize()/len(args)*100))
result.get()
p.close()

Processed: 1188, 100%